<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Perl脚本" />
            <add name="Perl脚本" path="*.pl" verb="*" modules="CgiModule" scriptProcessor="C:\Perl64\bin\perl.exe %s% &quot;%s%&quot;" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
