<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="Perl脚本" path=".pl" verb="*" modules="CgiModule" scriptProcessor="C:\Perl64\bin\perl.exe %s% &quot;%s%&quot;" resourceType="File" />
        </handlers>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <system.web>
        <compilation debug="true" />
    </system.web>
</configuration>
